@font-face {
    font-family: montserrat;
    src: url("../fonts/Montserrat-Regular.ttf")
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.element {
  @include clearfix;
}

.header-container>h1 {
    font-size: 34px;
    font-family: montserrat;
    text-shadow: 1px 1px #e3fdfd;
}

.header-container>p {
    font-size: 15px;
    font-family: montserrat;
    color: gray;
    text-shadow: 1px 1px #e3fdfd;
}

.details-container{
    padding: 2px;
    width: 350px;
    overflow: hidden;
    position: absolute;
    background-color: #e3fdfd;
    border-radius: 3px;
}

form>label {
    padding: 2px;
    font-size: 14px;
    font-family: montserrat;
}

form>input {
    width:100%;
    border: 0px;
    padding: 2%;
    background-color: #cbf1f5;
}

form>button {
    width: 100%;
    margin-top: 10px;
    font-size: 15px;
    font-family: montserrat;
}

.left {
  z-index: 1;
  width: 25%;
  margin-top: 3px;
  border: 1px solid gray;
}

.result {
  height: 75%;
  width: 70%;
  margin-top: 30px;
  position: absolute;
  z-index: 1;
  overflow: scroll;
  float: right;
  right: 1%;
  border: 1px solid gray;
}

.result>code {
  padding:0;
}

.preview_btn {
  height: 30px;
  width: 170px;
  left: 29%;
  z-index: 1;
  position: absolute;
}