@font-face {
    font-family: montserrat;
    src: url("../fonts/Montserrat-Regular.ttf")
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.element {
  @include clearfix;
}

.header-container>h1 {
    font-size: 34px;
    font-family: montserrat;
    text-shadow: 1px 1px #e3fdfd;
}

.header-container>p {
    font-size: 15px;
    font-family: montserrat;
    color: gray;
    text-shadow: 1px 1px #e3fdfd;
}

.main-container {
   margin-top: 4px;
}

.border-box {
    padding: 15px;
    margin: 15px;
    border: 2px solid gray;
    border-radius: 3px;
}

form>label {
    padding: 2px;
    font-size: 14px;
    font-family: montserrat;
}

form>input {
    width:100%;
    border: 0px;
    padding: 2%;
    background-color: #cbf1f5;
}

form>button {
    width: 100%;
    margin-top: 10px;
    font-size: 15px;
    font-family: montserrat;
}

.result {
  width: 98%;
  height: 530px;
  max-height: 530px;
  z-index: 1;
  overflow: auto;
  border: 1px solid gray;
}

.result>pre {
  padding:0;
}

.original-url-box{
  border: 1px solid black;
  width:100%;
  height:100%;
  min-height: 20px;
  overflow: auto;
}

#stampify-time-taken {
    padding: 15px
}

#stamp-loader-text {
    margin: 15px
}
