<!DOCTYPE html>
<html amp lang="en">
<head>
    <meta charset="UTF-8"/>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-story" src="https://cdn.ampproject.org/v0/amp-story-1.0.js"></script>
    <script async custom-element="amp-fit-text" src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js"></script>
    <script async custom-element="amp-video" src="https://cdn.ampproject.org/v0/amp-video-0.1.js"></script>
    <script custom-element="amp-twitter" src="https://cdn.ampproject.org/v0/amp-twitter-0.1.js" async></script>
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    <script async custom-element="amp-instagram" src="https://cdn.ampproject.org/v0/amp-instagram-0.1.js"></script>
    <script async custom-element="amp-pinterest" src="https://cdn.ampproject.org/v0/amp-pinterest-0.1.js"></script>
    <title>{{title}}</title>
    <link rel="canonical" href="{{ canonical_url }}" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
    <style amp-custom>
        amp-story-page:before {
            content:url({{ logo_url }});
            width:20px;height:20px;
            display:block;z-index:10;position:absolute;top:30px;left:15px;
            filter:drop-shadow(1px 1px 5px white);
        }

        @font-face {
            font-family: roboto;
            src: url("./fonts/Roboto-Regular.ttf")
         }
        .page-title {
            position: absolute;
            width: 100%;
            color: #fff;
            top: 6%;
            padding: 5%;
            overflow:hidden;
            text-shadow: 1px 1px 1px black;
            text-align: justify;
            text-align-last: center;
            font-family: roboto;
        }
        .page-overlay-text {
            position: absolute;
            width: 100%;
            color: #fff;
            top: 50%;
            padding: 5%;
            overflow:hidden;
            text-shadow: 1px 1px 1px black;
            text-align: justify;
            text-align-last: center;
            font-family: roboto;
        }
        .media {
            margin: 1px;
        }
        .embedded-media {
            margin: 1px;
            top: 12%;
            bottom: 15%;
        }

        .quote {
            margin-top: 45%;
            font-size: 22px;
            color: #000;
        }

        .quote>q {
            text-shadow: 1px 1px 1px white;
        }

        .citation {
            width: 100%;
            text-align: right;
            font-size: 14px;
            color: #fdfcfb;
        }

        .bg-image {
           filter: blur(8px);
          -webkit-filter: blur(8px);

          height: 100%;

          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
        .fixed-container {
          position: relative;
          width: 100%;
          height: 100%;
        }
        .bg-solid {
          background-color: #000;
          opacity: 0.1;
        }
        .bg-gradient {
          background-image: linear-gradient(45deg, #fdfcfb, #e2d1c3, #fdfcfb);
          width: 100%;
          height: 100%;

          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        .bg-blue-green {
           background-color: #769fcd;
        }

        .adds-margin {
          margin-top: 16%;
          margin-bottom: 3%;
          position: absolute;
          margin-left: 2px;
          margin-right: 2px;
        }

        .tweet-font {
            color: #38A1F3;
            font-size: 18px;
            margin: 10px;
        }

        .twitter-attachment {
            position: relative;
            padding: 5px;
            align: center;
        }

        .bg-white-blue {
          background-image: linear-gradient(45deg, #fff 10%, #38A1F3 20%, #fff 10%);
          width: 100%;
          height: 100%;
        }

        .bg-off-white {
          background-color: #f1f1f1;
          width: 100%;
          height: 100%;
        }

        .scroll {
            overflow-y: scroll;
        }
        .scroll::-webkit-scrollbar {
            -webkit-appearance: none;
        }

        .scroll::-webkit-scrollbar:vertical {
            width: 6px;
        }

        .scroll::-webkit-scrollbar-thumb {
            border-radius: 4px;
            border: 1px solid white;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .drop-shadow {
            box-shadow: 2px 2px 5px 2px #aaaaaa;
        }

        .fixed-block {
             margin: 2%;
             width: 96%;
        }

        .attachment-text {
            margin: 2%;
            font-size: 16px;
        }

        .fade{
            background: rgba(0, 0, 0, 0.6);
        }

        .just-text {
              margin: 5%;
              margin-top: 15%;
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              justify-content: center;
              overflow: auto;
        }
        .just-text>p {
            width: 96%;
            font-size: 20px;
            color: #fff;
            font-family: roboto;
            text-align: justify;
            text-align-last: center;
            text-shadow: 1px 1px 2px black;
        }

        .title-page {
            background-color: #fff;
        }

        .title-page-text {
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              justify-content: center;
              overflow: auto;
        }
        .title-page-text>p {
            width: 96%;
            padding: 2%;
            font-size: 22px;
            color: black;
            font-family: roboto;
            text-align: center;
            border: 2px solid white;
            box-shadow: 0px 0px 1px 1px black;
            text-shadow: 1px 1px 1px gray;
            background: rgba(255, 255, 255, 0.8)
        }

        .publisher-details{
            font-size: 14px;
            color: black;
            font-family: roboto;
            text-align: center;
            text-shadow: 1px 1px 1px white;
        }

    </style>
</head>
<body>
    <amp-story
        standalone title="{{title}}"
        publisher="{{publisher_domain}}"
        publisher-logo-src="{{logo_url}}"
        poster-portrait-src="abc.jpg">
        <amp-story-page id="page-1">
            <amp-story-grid-layer template="fill" >
                    <amp-img object-fit="contain" layout="fill" class="title-page"
                         src="https://www.google.com/s2/favicons?sz=256&domain_url={{publisher_domain}}">
                    </amp-img>
            </amp-story-grid-layer>
            <amp-story-grid-layer layout="fill">
                <div class="title-page-text">
                {% if title %}
                    <p>{{title}}</p>
                    <br>
                    <span class="publisher-details">Story by {{publisher_domain}}</span>
                {% endif %}
                </div>
            </amp-story-grid-layer>
        </amp-story-page>
        {% for page in pages %}
            <amp-story-page id="page-{{ loop.index + 1 }}">
                {% if page.media_index and contents[page.media_index].content_type.name == 'IMAGE'-%}
                <amp-story-grid-layer template="fill" >
                    <amp-img class="bg-image"
                         src="{{contents[page.media_index].img_url}}">
                    </amp-img>
                </amp-story-grid-layer>
                <amp-story-grid-layer template="fill" class="bg-solid" >
                </amp-story-grid-layer>
                <amp-story-grid-layer template="fill" class="drop-shadow media">
                    <div class="fixed-container">
                    <amp-img object-fit="contain" layout="fill"
                     {% if contents[page.media_index].img_title %}
                         alt="{{contents[page.media_index].img_title}}"
                     {% elif contents[page.media_index].img_caption %}
                         alt="{{contents[page.media_index].img_caption}}"
                     {% endif %}
                         src="{{contents[page.media_index].img_url}}"
                         width="{{contents[page.media_index].img_width}}"
                         height="{{contents[page.media_index].img_height}}">
                    </amp-img>
                    </div>
                </amp-story-grid-layer>
                {%- endif %}
                {% if page.media_index and contents[page.media_index].content_type.name == 'VIDEO'-%}
                <amp-story-grid-layer template="fill" >
                    <div class="bg-gradient">
                    </div>
                </amp-story-grid-layer>
                <amp-story-grid-layer template="fill" class="drop-shadow media">
                    <amp-video controls object-fit="contain"
                          width={{contents[page.media_index].width}}
                          height={{contents[page.media_index].height}}
                          layout="responsive">
                          {% for url in contents[page.media_index].video_urls -%}
                          <source src= "{{ url }}"/>
                          {%- endfor %}
                          <div fallback>
                            <p>This browser does not support the video element.</p>
                          </div>
                    </amp-video>
                </amp-story-grid-layer>
                {%- endif %}
                {% if page.media_index and contents[page.media_index].content_type.name == 'QUOTE'-%}
                <amp-story-grid-layer template="fill" >
                    <div class="bg-blue-green">
                    </div>
                </amp-story-grid-layer>
                <amp-story-grid-layer>
                    <div class="quote">
                        <q cite="{{ contents[page.media_index].cite }}">
                          {{ contents[page.media_index].q_content }}
                        </q>
                        <p class="citation">- {{ contents[page.media_index].cite }}</p>
                    <div>
                </amp-story-grid-layer>
                {%- endif -%}
                {% if page.media_index and contents[page.media_index].content_type.name == 'EMBEDDED_TWEET'-%}
                 <amp-story-grid-layer template="fill" >
                    <div class="bg-white-blue">
                    </div>
                </amp-story-grid-layer>

                <amp-story-grid-layer template="fill">
                    <div class="drop-shadow adds-margin scroll">
                    <amp-twitter
                     layout="fill"
                     data-tweetid="{{ contents[page.media_index].tweet_id }}"
                     data-cards="hidden"
                     data-conversation="none"
                    >
                    </amp-twitter>
                    </div>
                    </amp-story-grid-layer>
                    <amp-story-page-attachment layout="nodisplay" data-cta-text="View more">
                        <p class="tweet-font">See the tweet below: </p>
                        <amp-twitter
                            layout="responsive"
                            class="drop-shadow twitter-attachment"
                            data-tweetid="{{ contents[page.media_index].tweet_id }}"
                            height="1"
                            width="1">
                        </amp-twitter>
                    </amp-story-page-attachment>
                {%- endif -%}
                {% if page.media_index and contents[page.media_index].content_type.name == 'EMBEDDED_YOUTUBE_VIDEO'-%}
                <amp-story-grid-layer template="fill" >
                    <div class="bg-off-white">
                    </div>
                </amp-story-grid-layer>
                <amp-story-grid-layer>
                    <amp-youtube class="drop-shadow adds-margin"
                      layout = "fill"
                      data-videoid="{{ contents[page.media_index].yt_video_id }}"
                      interactive
                    >
                    </amp-youtube>
                </amp-story-grid-layer>
                {%- endif -%}
                {% if page.media_index and contents[page.media_index].content_type.name == 'EMBEDDED_INSTAGRAM_POST'-%}
                <amp-story-grid-layer template="fill" >
                    <div class="bg-off-white">
                    </div>
                </amp-story-grid-layer>

                <amp-story-grid-layer template="fill">
                    <div class="drop-shadow adds-margin scroll">
                        <amp-instagram
                          layout="fill"
                          data-shortcode="{{ contents[page.media_index].insta_shortcode }}"
                          data-captioned>
                        </amp-instagram>
                    </div>
                </amp-story-grid-layer>
                {%- endif -%}
                {% if page.media_index and contents[page.media_index].content_type.name == 'EMBEDDED_PINTEREST_PIN'-%}
                <amp-story-grid-layer template="fill" >
                    <div class="bg-off-white">
                    </div>
                </amp-story-grid-layer>

                <amp-story-grid-layer template="fill">
                        <amp-pinterest
                           layput="fill"
                           class="drop-shadow adds-margin scroll"
                           data-do="embedPin"
                           data-url="{{ contents[page.media_index].pin_url }}"
                           interactive>
                        </amp-pinterest>
                </amp-story-grid-layer>
                {%- endif -%}
                {% if not page.is_embedded_content and page.media_index != -1 %}
                <amp-story-grid-layer template="vertical">
                    {% if page.overlay_title %}
                    <div class="page-title">
                    <amp-fit-text width="200" height="120" min-font-size="18" max-font-size="22" layout="responsive">
                        <span class="fade">
                        {{ page.overlay_title}}
                        </span>
                    </amp-fit-text>
                    </div>
                    {% endif %}
                    {% if page.overlay_text %}
                    <div class="page-overlay-text">
                        <amp-fit-text width="200" height="150" layout="responsive" min-font-size="18" max-font-size="20">
                            <span class="fade">
                            {{ page.overlay_text}}
                            </span>
                        </amp-fit-text>
                    </div>
                    </amp-story-grid-layer>
                    {% if (page.overlay_text|length)>340 %}
                    {# Note: 340 is the maximum character limit that does not lead to overflow with used container size and font-size range and font-style. #}
                    <amp-story-page-attachment layout="nodisplay" data-title="Read Full Text Here!" data-cta-text="Read more">
                            <div class="fixed-block bg-off-white ">
                                <p  class="attachment-text">
                                    {{ page.overlay_text}}
                                </p>
                            </div>
                    </amp-story-page-attachment>
                    {%- endif %}
                    {%- endif %}
                {%- endif %}
                {%- if not page.is_embedded_content and page.media_index == -1 and (page.overlay_title or page.overlay_text) %}
                <amp-story-grid-layer template="fill" >
                    <div class="bg-blue-green">
                    </div>
                </amp-story-grid-layer>
                <amp-story-grid-layer template="fill">
                <div class="just-text">
                {% if not page.overlay_title and page.overlay_text %}
                <p>
                     {{ page.overlay_text}}
                </p>
                {% endif %}
                {% if not page.overlay_text and page.overlay_title %}
                <p>
                     {{ page.overlay_title}}
                </p>
                {% endif %}
                </div>
                </amp-story-grid-layer>
                {% endif %}
            </amp-story-page>
        {%- endfor %}
    </amp-story>
</body>
</html>
